:root {
    --color1: #159aac;
    --color2: #808080;
    --color3: #615b0d;
    --color4: #9b6998;
}

#container {
    display: grid;
    grid-template-areas:
        'header header '
        'form1 form2 '
        'form1 form2 '
        'form1 form2 '
}

#form1 {
    grid-area: form1;
    background-color: var(--color4);
    padding: 20px;
    margin: 30px;
}

#form2 {
    grid-area: form2;
    background-color: var(--color2);
    padding: 20px;
    margin: 30px;
}

#header {
    text-align: center;
    grid-area: header;
    background-color: var(--color3);
    padding: 20px;
    margin: 30px;
}





h3, h1 {
    text-align: center;
    color: rgb(210, 255, 47)
}

body {
    background-color: var(--color1)
}

 .ex3{
    text-align: center;
    color: var(--color1)/* rgb(50, 68, 9); */
} 


form {
    overflow: hidden;
}


input, textarea {
    float: inline-end;
    clear: both;
}